* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #333;
  color: #fff;
  padding: 1rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
}

.menu {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.menu a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

.menu a:hover {
  color: #f0a500;
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem;
  background-color: #f9f9f9;
  background-image: url(https://img.magnific.com/premium-vector/background-pixel-art-game-interface-design-in-2d-design-blue-sky-white-clouds-green-grass-on-the_148553-731.jpg?w=2000);
}

.game-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 1.5rem;
  max-width: 300px;
  margin: 10px;
}

.game-card img {
  width: 100%;
  border-radius: 8px;
}

.game-card h1 {
  font-size: 20px;
  margin-bottom: 20px;
}

.game-card h2 {
  margin: 1rem 0 0.5rem;
  font-size: 15px;
}

.game-card p {
  color: #555;
  font-size: 0.1rem;
  margin-bottom: 1rem;
}

.play-button {
  display: inline-block;
  background-color: #333;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.play-button:hover {
  background-color: #f0a500;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem;
}


.favGames {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  /* background-color: #f9f9f9; */
  height: 300px;
  margin-top: 125px;
}

.section-weapons {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  /* background-color: #f9f9f9; */
  /* height: 200px; */
  margin-top: 100px;
  background-image: url(https://images7.alphacoders.com/748/thumb-1920-748552.jpg);
}

.title-section {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.fav_things_to_do_in_mc {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  /* background-color: #f9f9f9; */
  /* height: 200px; */
  margin-top: 100px;
  background-image: url(https://images5.alphacoders.com/380/380206.jpg);
}

.fav_soccer_players {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  /* background-color: #f9f9f9; */
  /* height: 200px; */
  margin-top: 100px;
  background-image: url(https://static.vecteezy.com/system/resources/thumbnails/030/491/351/small_2x/evening-view-of-a-modern-and-beautiful-soccer-stadium-with-floodlights-ai-generated-photo.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-list {
  list-style: none;
  display: flex;
  gap: 20px;
}

.menu-link {
  color: white;
  text-decoration: none;
}

.moreMods {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  /* background-color: #f9f9f9; */
  height: 200px;
  margin-top: 125px;
  background-image: url(https://cdn.creativefabrica.com/2022/06/04/Luxury-Purple-Background-Design-Graphics-31719750-1.jpg);
}

.moreMods2 {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  /* background-color: #f9f9f9; */
  height: 200px;
  margin-top: 125px;
  background-image: url(https://static.vecteezy.com/system/resources/previews/023/883/566/original/abstract-background-illustration-abstract-orange-background-illustration-simple-yellow-background-for-wallpaper-display-landing-page-banner-or-layout-design-graphic-for-display-free-vector.jpg);
}

.pane {
  display: none;
  margin-top: 8px;
}

.pane.is-active {
  display: block;
}

.controls {
  display: flex;
  gap: 8px;
}

.tabs {
  width: 500px;
  margin: 50px auto;
}

.imgMaps {
  width: 500px;
}

.mapbtn {
  height: 30px;
  background-color: bisque;
  border: none;
  padding-left: 5px;
  padding-right: 5px;
}

.mapbtn:hover {
  background-color: rgb(185, 168, 146);
}

.maptext {
  margin: 20px;
}

.maps {
  background-image: url(https://as2.ftcdn.net/v2/jpg/02/99/95/45/1000_F_299954599_W13RyRyMcugCDfzUzIzVM4SrNVzg3tnQ.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.container {
  max-width: 1200px;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
}

.card-set {
  display: flex;
  /* Make a flex container multiline */
  flex-wrap: wrap;
  /* Set gap between rows and columns */
  gap: 10px;
  padding: 0;
  list-style: none;
}

.item {
  /*  Set the width of the elements  */
  flex-basis: calc((100% - 20px) / 3);

  padding: 10px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.item h2 {
  margin-top: 0;
  font-size: 20px;
}

.item p {
  margin: 0;
}

.textCards {
  margin-top: 100px;
  background-image: url(https://static.vecteezy.com/system/resources/previews/011/914/404/original/black-luxury-background-with-glowing-gold-lines-trendy-design-for-business-card-ad-certificate-illustration-vector.jpg);
  padding-top: 150px;
  padding-bottom: 150px;
}

.nameCards {
  margin-bottom: 10px;
}



.thumb {
  position: relative;
  margin: 10px;
  border-radius: 4px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.thumb>.label {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 8px 16px;
  border-bottom-left-radius: 4px;

  font-family: sans-serif;
  font-size: 24px;
  background-color: #2196f3;
  color: #fff;
}

img {
  display: block;
  max-width: 400px;
  height: 300px;
}

.container-gallery {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.atletico {
  /* height: 150px; */
  object-fit: contain;
}

.psg {
  object-fit: contain;
}

.real_madrid {
  height: 315px;
}

.coaches {
  background-image: url(https://wallpaperaccess.com/full/4962710.jpg);
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

.trophies {
  background-image: url(https://www.pixelstalk.net/wp-content/uploads/2016/07/Download-Free-Cool-Soccer-Photo.jpg);
  display: flex;
  justify-content: center;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  padding: 100px;
}

.teams {
  background-image: url(https://static.vecteezy.com/system/resources/thumbnails/002/977/419/original/soccer-ball-on-the-football-field-background-free-video.jpg);
  display: flex;
  gap: 20px;
  justify-content: center;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  padding: 100px;
}

.stadiums {
  background-image: url(https://wallpaperaccess.com/full/562944.jpg);
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  padding: 100px;
}

.icon_trophy {
  height: 40px;
}

.chat-button {
  position: fixed;
  right: 30px;
  bottom: 30px;

  display: inline-block;
  width: 64px;
  height: 64px;

  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;

  background-image: url("https://cdn-icons-png.flaticon.com/512/1653/1653630.png");
  background-size: contain;

  cursor: pointer;
}

.skin {
  background-image: url(https://tse4.mm.bing.net/th/id/OIP.06YJteIoI38SPCCqUVTeQQHaE9?r=0&rs=1&pid=ImgDetMain&o=7&rm=3);
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  padding: 100px;
}

.icon_csgo {
  height: 100px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  background-color: #f9f9fd;
}

.container_mods {
  min-height: 100vh;
  position: relative;

  display: block;
  width: 500px;
  margin: 0 auto;

}

.box {
  position: absolute;
  height: 150px;
  width: 150px;
  margin-left: -60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  font-size: 20px;
  color: #fff;

  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.box:nth-child(1) {
  top: 20px;
  left: 130px;
  background-color: #1789fc;

  z-index: 2;
}

.box:nth-child(2) {
  top: 30px;
  left: 230px;
  background-color: #ef233c;

  z-index: 2;
}

.box:nth-child(3) {
  top: 140px;
  left: 220px;
  background-color: #ffd07b;
  z-index: 1;
}

.box:nth-child(4) {
  top: 120px;
  left: 120px;
  background-color: #4caf50;
}

.title_fav_mods {
  text-align: center;
  font-size: 40px;
  background-image: url(https://imgcdn.stablediffusionweb.com/2024/10/3/e423823a-ffc7-4d3e-8334-79bfad269917.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


.gamecard_tutorial {
  max-width: 500px;
  align-items: center;
}

.tutorial_cards {
  max-width: 1200px !important;
  margin: 300px;
}

.wrapper {
  width: 1200px;
  /* outline: 2px solid red; */
  margin: 0 auto;
  background-image: url(https://static.vecteezy.com/system/resources/previews/023/883/566/original/abstract-background-illustration-abstract-orange-background-illustration-simple-yellow-background-for-wallpaper-display-landing-page-banner-or-layout-design-graphic-for-display-free-vector.jpg);
}

.warp_wrapper {
  background-image: url(https://static.vecteezy.com/system/resources/previews/023/883/566/original/abstract-background-illustration-abstract-orange-background-illustration-simple-yellow-background-for-wallpaper-display-landing-page-banner-or-layout-design-graphic-for-display-free-vector.jpg);
}

.bagges_roblox {
  width: 325px;
  height: 300px;
}

/* ANIMATIONS */





.rotate-center {
	-webkit-animation: rotate-center 0.6s ease-in-out both;
	        animation: rotate-center 0.6s ease-in-out both;
}



@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}






.scale-up-center {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}



.slide-top {
  animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}



@keyframes slide-top {
  0% {
    transform: translateY(-100px);
  }

  100% {
    transform: translateY(0);
  }
}







.slide-left {
  animation: slide-left 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  margin-left: 100px;
}

@keyframes slide-left {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100px);
  }
}

.slide-right {
  animation: slide-right 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  margin-right: 100px;
}

@keyframes slide-right {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(100px);
  }
}


.rotate-scale-up-ver:hover {
	animation: rotate-scale-up-ver 0.65s linear both;
  display: block;
}


@keyframes rotate-scale-up-ver {
  0% {
    transform: scale(1) rotateY(0);
  }
  50% {
    transform: scale(2) rotateY(180deg);
  }
  100% {
    transform: scale(1) rotateY(360deg);
  }
}






/* MEDIA QUERIES */

@media screen and (max-width: 390px) {

  .favGames {
    flex-direction: column;
    height: 1350px;  }

  .game-card {
    width: 325px;
  }


  .header-container {
    flex-direction: column;
    gap: 20px;
  }

  .menu-list {
    flex-wrap: wrap;
    margin-left: -75px;



  }

  .item {
    flex-basis: calc((100% - 20px) / 1);
  }

  .fav_mods_title {
    font-size: 50px;
  }

  .fav_things_to_do_in_mc {
    flex-direction: column;
  }

  .section-weapons {
    flex-direction: column;
  }

  .fav_soccer_players {
    flex-direction: column;
  }

  /* 
  .menu-list{
    flex-direction: column;
  } */

  .moreMods {
    flex-direction: column;
  }

  .moreMods2 {
    flex-direction: column;
  }

  .favGames {
    margin-top: 450px;

  }

  .stadiums {
    flex-direction: column;
  }

  .teams {
    flex-direction: column;
    margin-left: -60px;
  }

  .trophies {
    flex-direction: column;
    margin-left: -60px;
  }
}


@media screen and (min-width: 768px) and (max-width: 1024px) {
  .game-card {
    height: 300px;
    width: 150px;
    margin-top: -350px;
  }

  .game-card img {
    height: 80px;
    width: 80px;
  }

  .icon_trophy {
    width: 0px !important;
    display: none;
  }

  .game-card-text {
    font-size: 10px !important;
  }

  .moreMods2 {
    margin-top: 350px;
  }

  .teams {
    margin-top: 300px;
  }

  .trophies {
    margin-top: 300px;
  }

  .icon_csgo {
    display: none;
  }

  .wrapper {
    flex-wrap: wrap;
  }

  .tutorial_cards {
    max-width: 700px !important;
    margin: 3px;
    outline: 2px solid red;

    display: flex !important;
    flex-wrap: wrap !important;
    margin-top: 300px;
    margin-bottom: 200px !important;
  }

  .iframe_tutorial {
    width: 100px !important;
  }
}